.text-and-button {
    width: 600px;
    height: 361px;
    margin-top: 234px;
    margin-bottom: 140px;

}

.component-5 {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    max-width: 1380px;
}

.component-5 h1 {
    font-size: 72px;
    font-family: 'Inter-bold';
    color: rgba(33, 37, 41, 1);

}

.component-5 p {
    font-size: 16px;
    font-family: 'Inter-regular';
    color: rgba(33, 37, 41, 1);
    margin-top: 24px;
    line-height: 30px;
}

.rect-5 {
    width: 679px;
    height: 498px;
    margin-top: 140px;
}